.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color:#CDFAD5;
}

h1 {
  margin: 30px;
  font-family: poppins;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #C70039;
}

p {
  font-size: 2rem;
  color: black;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

